.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
  }
  
  .form-table {
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 10px; 
    background-color: #f2f2f2; 
    border: 1px solid #000000; 
    border-radius: 5px; 
    padding: 5px; 
    max-width: 600px; 
    margin: 0 auto; 
  }
  
  .form-cell {
    width: calc(90% - 8px); 
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold; 
  }
  
  input[type="date"] {
    width: calc(90% - 8px); 
    padding: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    background-color: #4caf50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin-top: 15px; 
    align-self: flex-end;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049; 
  }
  