.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 15px;
  margin: 2px;
}

.scroll-box {
  width: 500px;
  height: 450px;
  border: 1px solid #ccc;
  overflow-y: scroll;
  padding: 15px;
}

.scroll-box ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.scroll-box li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}